/** Your theme modifications here **/

.img-responsive{
    height: 100% !important;
    width: 100%;
  }

  .hidden-xs{
    width: 155px;
    margin-top: -8px;
  }

  .same-height{
    height: auto !important;
  }